.post {
    position: relative;
    width: 40%;
    height: 40%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    border-radius: 15px;
}

.post-left {
    width: 15%;
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
    overflow-y: hidden;

}
.post-username{
    font-size: 16px;
}
.post-content {
    width: 75%;
    height: 20rem;
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
}

.post-title {
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    margin-top: 20px;
    overflow-y: hidden;
}

.post-more {
    float: right;
    cursor: pointer;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc {
    height: 100px;
    margin-bottom: 0 !important;
    position: relative;
    font-size: 21px;
    top: 6px;
    overflow: hidden;
    /*background-color: red;*/
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right{
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.dot{
    float: right;
    margin-top: 10px;
    cursor: pointer;
    z-index: 100;
    color: #000;
}
#dot{
    background: transparent;
    border: none;
}


#deleteModal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}
#container-delete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 20rem;
    width: 40rem;
    justify-content: center;
    z-index: 100;
    display: none;
    align-items: center;
    flex-direction: column;
}
.container-delete > div{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 25rem;
}
.redButton{
    background-color: red;
    border: none;
    font-size: 2rem;
    padding: 1rem 4rem;
    opacity: 0.6;
    color: #ffffff;
    cursor: pointer;

}

.greenButton{
    background-color: green;
    border: none;
    font-size: 2rem;
    padding: 1rem 4rem;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}

.confirm{
    color: #000000;
    font-size: 1.6rem;
    font-family: Poppins,sans-serif;
}