body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100% cover !important;
    overflow: hidden;
    display: block;
}

/* Set a style for the rest of the elements besides the header elements on the index.html page */

.postButtons--container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22rem;
    justify-content: space-between;
    display: flex;
}

.postButtons--button {
    background-color: #cfb53b;
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: bolder;
    border: 0.1rem solid #ffffff;
    text-decoration: none;
    color: #000000;
}


#post--modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 55rem;
    width: 55rem;
    padding-top: 0.8rem;
    justify-content: center;
    display: none;
    z-index: 100;
}

.close {
    color: #aaaaaa;
    position: absolute;
    right: 2rem;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}


